<article>
  <header class="header">
    <h1>Change your password</h1>
  </header>
  <div class="content">
    <div class="row">
      <div class="span5">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.label :password, "New password" %>
          <%= f.password_field :password, class: 'span5' %>

          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, class: 'span5' %>

          <div class="form-actions"><%= f.submit "Change my password" %></div>
        <% end %>
      </div>
    </div>
  </div>
  <footer class="footer">
    <%= render "devise/shared/links" %>
  </footer>
</article>
