<article>
  <header class="header">
    <h1>Forgot your password?</h1>
  </header>
  <div class="content">
    <div class="row">
      <div class="span5">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <%= f.label :email, "Enter your email address" %>
          <%= f.email_field :email, class: 'span5' %>

          <div class="form-actions"><%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %></div>
        <% end %>
      </div>
    </div>
  </div>
  <footer class="footer">
    <%= render "devise/shared/links" %>
  </footer>
</article>
