<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Cookbook", root_path, class: "brand" %>
    </div>
  </div>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
