<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Cookbook", root_path, class: "brand" %>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li><p class="navbar-text">Signed in as <%= link_to current_user.email, edit_user_registration_path %></p></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
